#img-row {
    width: 50px;
}
.tablaFilaEditar, 
.tablaFilaBorrar{
    place-items: center;
    border-radius: 6px;
    margin: 10px;
    height: 50px;
    width: 100px;     
    background-color: rgba(238, 130, 238, 0.662);
    transition: all .2s;   
    color: rgb(92, 92, 92);  
    font-weight: 700;  
}
.tablaFilaBorrar:hover,
.tablaFilaBorrar:focus{
    transform: scale(1.03) skewX(0);
    transform-origin: bottom;
    box-shadow: 0 7px 8px rgba(0,0,0, .05), 0 3px 3px rgba(0,0,0, .01); 
}
.tablaFilaEditar:hover,
.tablaFilaEditar:focus{
    transform: scale(1.03) skewX(0);
    transform-origin: bottom;
    box-shadow: 0 7px 8px rgba(0,0,0, .05), 0 3px 3px rgba(0,0,0, .01); 

}